<div align="center">
	<h4><%=@tyre_brand%> <%=@tyre_family%></h4>
</div>	
<div class="row">
	<div align="center" class="span4">
		<img src="/Images/<%=@family_image%>">
    </div>
    <div class="span8">
    	<p><%=@description%></p>
    </div>
</div> 
<br>
<div align="center">   
	<table class="table table-bordered" width="80%" align="center" cellpadding="4" >
		<thead>
			<tr>
				<th>Розміри</th>
				<th>Ціна</th>
				<th>Залишок на складі</th>
				<th><i class="icon-shopping-cart"></i></th>
			</tr>
    	</thead>
    	<tbody>
		<%@article.each_pair do |article_id,propetries|%>
			<tr>
			<form name="buy_form" method="GET" action="/shopping_cart">
				<input name="form" type="hidden" value="buy_form">
				<td>
					<%=propetries[0]%>
				</td>
				<td>
					<%=propetries[1]%> грн. 
				</td>
				<td>
					<%=propetries[2]%>
				</td>	
				<input name="tyre_brand" type="hidden" value="<%=@tyre_brand%>"> 
				<input name="tyre_family" type="hidden" value="<%=@tyre_family%>">
				<input name="tyre_model" type="hidden" value="<%=propetries[0]%>">
				<input name="tyre_price" type="hidden" value="<%=propetries[1]%>">
				<input name="family_id" type="hidden" value="<%=@family_id%>">
				<input name="article_id" type="hidden" value="<%=article_id%>">
				<input name="back_href" type="hidden" value="/family/<%=@family_id%>?family_id=<%=@family_id%>&tyre_brand=<%=@tyre_brand%>&tyre_family=<%=@tyre_family%>">
				<td>    
					<%if propetries[2].to_i > 0%>
						<input class="btn btn-inverse" type="submit" value="Купити">
					<%else%>
						<b>Немає в наявності</b>
					<%end%>
				</td>
			</form> 
			</tr>
		<%end%>
		</tbody> 
	</table>
</div>        

