	<style>
		.form-horizontal .controls 
		{
    		margin-left: 45%;
		}
		.form-horizontal .control-label 
		{
			width: 40%;
		}
		.alert-danger, .alert-error {
			margin-bottom: -3px;
		}
	</style>
	<script>
	$(document).ready(function()
	{
		$("#order_form").validate(
		{
			onkeyup: false,
			rules: 
			{
				customer_name: 
				{
					required: true
				},
				customer_email: 
				{
					email: true,
					required: 
					function() 
					{	
						$("<%=Necessery_Order[1]%>").replaceAll($("#customer_email").parent().find("small"));
						$("<%=Necessery_Order[1]%>").replaceAll($("#customer_email").parent().find("label"));
						$("#customer_email").parent().parent().attr("class","control-group");
						return false;
					} 
				},
				customer_phone: 
				{
					required: true,
				}
			},
			messages: 
			{
				customer_name: 
				{
					required: "Вкажіть, будь ласка, Ваше ім'я!"
				},
				customer_email: 
				{
					email: "Не коректний email!",
				},
				customer_phone: 
				{
					required: "Вкажіть, будь ласка, Ваш номер телефону!",
				}
			},
			errorPlacement: 
				function(error, element) 
				{
					element.parent().parent().attr("class","control-group error");	
      				error.replaceAll(element.parent().find("small"));
    			},
			success: function(label) 
			{
     			label.parent().parent().parent().attr("class","control-group");
     			if (label.attr("for")=="customer_email")
     			{
     				$("<%=Necessery_Order[1]%>").replaceAll(label);
     			}
     			else
     			{
     				$("<%=Necessery_Order[0]%>").replaceAll(label);	
     			}	
			}
		});
	});
	function submit_order_form()
	{
		$("#order_form").submit();
	}
	</script>   
        <form class="form-horizontal" name="order" id="order_form" method="GET" action="">
        	<fieldset>
        	<div align="center">
        		<legend>Оформити замовлення</legend>
        	</div>
            <input name="form" type="hidden" value="order_form">
            <div class="<%=@control_group['control_name'].first%>">
				<label class="control-label">Ім'я</label>
				<div class="controls">
					<input id="customer_name" name="customer_name" type="text" value="<%=@input_value['control_name']%>">
					<span class="help-inline"><%=@control_group['control_name'].last%></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Адреса</label>
				<div class="controls">
					<input id="customer_address" name="customer_address" type="text">
					<span class="help-inline"><%=Necessery_Order[1]%></span>
				</div>
			</div>
			<div class="<%=@control_group['control_email'].first%>">
				<label class="control-label">Електронна адреса</label>
				<div class="controls">
					<input id="customer_email" name="customer_email" type="text" value="<%=@input_value['control_email']%>">
					<span class="help-inline"><%=@control_group['control_email'].last%></span>
				</div>
			</div>
			<div class="<%=@control_group['control_phone'].first%>">
				<label class="control-label">Телефон</label>
				<div class="controls">
					<input id="customer_phone" name="customer_phone" type="text" value="<%=@input_value['control_phone']%>">
					<span class="help-inline"><%=@control_group['control_phone'].last%></span>
				</div>
			</div>
			<br>
			<div align="center">
				<a class="btn btn-large" href="shopping_cart">
					<i class="icon-chevron-left"></i>
					 Повернутися до кошика 
				</a>
				<a class="btn btn-large btn-primary" onclick="submit_order_form()">Замовити <i class="icon-chevron-right icon-white"></i></a>
			</div>	
		</fieldset>           
        </form>

