		<script>
		function validate_form()
		{
			var rows = $("tr");
			for (i=1; i<rows.length; i++)
			{
				if ($(rows[i]).find("input:checkbox").is(':checked'))
				{
					delete_confirm = confirm ( "Видалити виділені замовлення?" );
					if (delete_confirm == false)
					{
						return false;
					}
					else
					{
						return true;
					}
				}
				else
				{                  
					if (($(rows[i]).find("input:text").val() == "") || ($(rows[i]).find("input:text").val() == 0))
					{
						alert ( "Кількість товару не може бути 0" );
						return false;
					} 
				}
			}
		}
		
		function submit_cart()
		{
			$("#cart_form").submit();
		}
	</script>
	<div align="center">
		<h4>Кошик</h4>  
	</div>
	<br>
	<form class="form-inline" id="cart_form" method="GET" action="" onsubmit="return validate_form()">
		<input name="form" type="hidden" value="cart_form">
		<table class="table table-bordered" id="shoping_cart_table">
			<thead>
				<tr>
					<th>Товар</th>
					<th>Ціна</th>
					<th>Кількість</th>
					<th>Загальна ціна</th>
					<th>Видалити</th>
				</tr>
			</thead>
			<tbody>
				<%@cart_elements.sort{|a,b| a[1].first<=>b[1].first}.each do |key,article|%>
				<tr>
					<td><%=article[0]%> - <%=article[1]%> - <%=article[2]%></td>
					<td><%=article[3]%> грн.</td>
					<td><input class="input-mini" name="article[<%=key%>]" type="text" value="<%=article[4]%>"></td>
					<td><%=article[5]%> грн.</td>
					<td><input name="delete[<%=key%>]" type="checkbox" value="<%=key%>"></td>    
				</tr>    
				<%end%>
			</tbody>
		</table>
		<div class="row-fluid">
			<div class="pull-left">
			<strong>Всього товарів: <%=@all_quantity%> на суму <%=@all_price%> грн.</strong>
			</div>
			<input name="back_href" type="hidden" value="<%=@back_href%>">
			<a class="btn pull-right" onclick="submit_cart()"><i class="icon-refresh"></i> Перерахувати</a>
		</div>	
	</form>
	<br>
	<div align="center">
		<a class="btn btn-large" href="<%=@back_href%>">
			<i class="icon-chevron-left"></i> Повернутися до покупок
		</a>
		<a class="btn btn-large btn-primary" href='/order'>
			Оформити замовлення <i class="icon-chevron-right icon-white"></i>
		</a> 

	</div>  
