<script>
	function send_form()
	{
		$("#filter_form").submit();
	}
		
	function remove(select_name)
	{	
		var value = $("#filter_form").find('select[name^="' + select_name + '"]');
		value.attr("value","");
		send_form();
	}
	
	function remove_checked(checkbox_name)
	{	
		if (checkbox_name == $("#filter_form").find('input[value^="' + checkbox_name + '"]').val())
		{
			var value = $("#filter_form").find('input[value^="' + checkbox_name + '"]');
			value.removeAttr("checked");
			send_form();
		}	
	}
	
	function remove_all_checked()
	{	
		$("input:checkbox").removeAttr("checked");
		send_form();
	}
	
	function show_all()
	{
		$('.hidden_brand').toggle();				 
		if ($('.hidden_brand').is(':hidden'))
		{
			$("#show_all_brands").text(" Показати всі ");		 
			$("#show_all_brands").append("<i class='icon-chevron-down'></i>");
		}
		else
		{
			$("#show_all_brands").text(" Показати популярні ");
			$("#show_all_brands").append("<i class='icon-chevron-up'></i>");
		}	
	}
	
	function checked_all()
	{			 
		if ($("input:checkbox").is(':checked'))
		{
			$("input:checkbox").removeAttr("checked");
		}
		else
		{
			$("input:checkbox").attr("checked","checked");
		}	
		send_form();
	}
	
	$(document).ready(
		function()
		{
			$('.hidden_brand').hide();
			$("#show_all_brands").text(" Показати всі ");
			$("#show_all_brands").append("<i class='icon-chevron-down'></i>");
			if ($("input:checkbox").is(':checked'))
			{
				$("#checked_all_brands").text(" Скинути всі ");		 
			}
			else
			{
				$("#checked_all_brands").text(" Відмітити всі ");
			}
		}
	)
	
	function setAttr(prmName,val){
    var res = '';
	var d = location.href.split("#")[0].split("?");  
	var base = d[0];
	var query = d[1];
	if(query) {
		var params = query.split("&");  
		for(var i = 0; i < params.length; i++) {  
			var keyval = params[i].split("=");  
			if(keyval[0] != prmName) {  
				res += params[i] + '&';
			}
		}
	}
	res += prmName + '=' + val;
	window.location.href = base + '?' + res;
	return false;
} 
</script>
<style>
	.well_family 
	{
		background-color: #FFFFFF;
		border: 1px solid #FFFFFF;
		border-radius: 4px 4px 4px 4px;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
		margin-bottom: 10px;
		min-height: 10px;
		padding: 4px;
	}
	.muted_family {
    color: #444444;
}
</style>
<div class="row">
	<div class="span4">
		<form id="filter_form" method="GET" action="tyres" > 
			<%if ((@tyre_width.empty? == false and @tyre_width != nil) or (@tyre_height.empty? == false and @tyre_height != nil) or (@tyre_diameter.empty? == false and @tyre_diameter != nil) or (@tyre_season.empty? == false and @tyre_season != nil) or (@tyre_brand.empty? == false and @index_form == false))%>
				<div class="well">
					<h5>Обрані параметри:</h5>
					<%if @tyre_width.empty? == false and @tyre_width != nil%>
							<span class="pull-left">
								Ширина: <%=@tyre_width%>
							</span>	
							<span class="pull-right">
								<a onclick="remove('tyre_width')"><i class="icon-remove"></i></a>
							</span>
							<br>	
					<%end%>
					<%if @tyre_height.empty? == false and @tyre_height != nil%>
						<span class="pull-left">
							Висота: <%=@tyre_height%>
						</span>	
						<span class="pull-right">
							<a onclick="remove('tyre_height')"><i class="icon-remove"></i></a>
						</span>
						<br>		
					<%end%>
					<%if @tyre_diameter.empty? == false and @tyre_diameter != nil%>
						<span class="pull-left">
							Діаметр: <%=@tyre_diameter%>
						</span>
						<span class="pull-right">
							<a onclick="remove('tyre_diameter')"><i class="icon-remove"></i></a>
						</span>
						<br>
					<%end%>
					<%if @tyre_season.empty? == false and @tyre_season != nil%>
						<span class="pull-left">
							Сезон: <%=Tyre_season[@tyre_season]%>
						</span>
						<span class="pull-right">
							<a onclick="remove('tyre_season')"><i class="icon-remove"></i></a>
						</span>
						<br>	
					<%end%>
					<%if @tyre_brand.empty? == false and  @tyre_brand.sort != Tyre_brand_name.sort%>
						<%@tyre_brand.each do |brand|%>
							<span class="pull-left">
								Бренд: <%=brand%>
							</span>
							<span class="pull-right">
								<a onclick="remove_checked('<%=brand%>')"><i class="icon-remove"></i></a>
							</span>
							<br>
						<%end%>
					<%elsif @tyre_brand.sort == Tyre_brand_name.sort and @index_form == false%>
						<span class="pull-left">
							Бренд: Всі
						</span>
						<span class="pull-right">
							<a onclick="remove_all_checked()"><i class="icon-remove"></i></a>
						</span>
						<br>
					<%end%>	
				</div>						
			<%elsif @tyre_brand.sort == Tyre_brand_name.sort and @index_form == true%>
				<div class="well">
					<span class="pull-left">
						Бренд: Всі
					</span>
					<span class="pull-right">
						<a onclick="remove_all_checked()"><i class="icon-remove"></i></a>
					</span>
					<br>
				</div>					
			<%end%>		
			<div class="well">
				<h5>Ширина</h5>  
				<select class="input-medium" name="tyre_width" onchange="send_form()">
					<option value="">Оберіть</option>
					<%Tyre_width_name.each do |tyre_width_name|%>
						<%if @tyre_width == tyre_width_name.to_s%>
							<option value="<%=tyre_width_name%>" selected><%=tyre_width_name%></option>   
						<%else%>    
							<option value="<%=tyre_width_name%>"><%=tyre_width_name%></option>  
						<%end%>
					<%end%>     
				</select>
				<h5>Висота</h5> 
				<select class="input-medium" name="tyre_height" onchange="send_form()">
					<option value="">Оберіть</option>
					<%Tyre_height_name.each do |tyre_height_name|%>
						<%if @tyre_height == tyre_height_name.to_s%>
							<option value="<%=tyre_height_name%>" selected><%=tyre_height_name%></option>   
						<%else%>    
							<option value="<%=tyre_height_name%>"><%=tyre_height_name%></option>  
						<%end%> 
					<%end%>    
				</select>
				<h5>Діаметр</h5> 
				<select class="input-medium" name="tyre_diameter" onchange="send_form()">
					<option value="">Оберіть</option>
					<%Tyre_diameter_name.each do |tyre_diameter_name|%>
						<%if @tyre_diameter == tyre_diameter_name.to_s%>
							<option value="<%=tyre_diameter_name%>" selected><%=tyre_diameter_name%></option>   
						<%else%>    
				        	<option value="<%=tyre_diameter_name%>"><%=tyre_diameter_name%></option>  
						<%end%> 
					<%end%>    
				</select> 
				<h5>Сезон</h5>
				<select class="input-medium" name="tyre_season" onchange="send_form()">
					<option value="">Оберіть</option>
					<%Tyre_season.each do |key_tyre_season,value_tyre_season|%>
						<%if @tyre_season == key_tyre_season.to_s%>
							<option value="<%=key_tyre_season%>" selected><%=value_tyre_season%></option>   
						<%else%>    
							<option value="<%=key_tyre_season%>"><%=value_tyre_season%></option>  
						<%end%> 
					<%end%>
				</select>
			</div>
			<div class="well form-horizontal">
				<h5>Виробники</h5>
				<button id="checked_all_brands" class="btn" onclick="checked_all()"></button>
				<br><br>
				<%Tyre_brand_name.sort.each do |tyre_brand_name|%>
					<%if @tyre_brand.include?(tyre_brand_name.to_s) or @index_form == true%>
						<label class="checkbox <%=@show_hide_brands_class[tyre_brand_name]%>">
							<input type="checkbox" name="item[]" value="<%=tyre_brand_name%>" onchange="send_form()" checked><%=tyre_brand_name%>
						</label>  
					<%else%> 
						<label class="checkbox <%=@show_hide_brands_class[tyre_brand_name]%>">
							<input type="checkbox" name="item[]" value="<%=tyre_brand_name%>" onchange="send_form()"><%=tyre_brand_name%>
						</label>
					<%end%>  
				<%end%>
				<a id="show_all_brands" onclick="show_all()"></a>
			</div>
		</form> 
	</div>       
	<div class="span8">
			<h4 align="center">Результати пошуку</h4>
			<br>
			<%if @select_family.empty?%>
				<p align="center">Нічого не знайдено</p>
			<%elsif @sort_param == 'brand'%>
				<div align="center">
					Сортувати:
					<a href="#" onclick="return setAttr('sort_param','low_price')"><small>Від дешевшого до дорожчого</small></a>&nbsp;|&nbsp;
					<a href="#" onclick="return setAttr('sort_param','high_price')"><small>Від дорожчого до дешевшого</small></a>&nbsp;|&nbsp;
					<small>По брендам</small>
				</div>
				<br>
				<%Tyre_brand_name.sort.each do |tyre_brand_name|%>
					<%if @select_brand.has_value?(tyre_brand_name)%>
						<div class="row" align="center">
							<%id = @select_brand.index(tyre_brand_name)%>
							<%if @select_family[id].empty? == false%>
								<h5><%=tyre_brand_name%></h5>	
							<%end%>				
							<%@select_family.sort{|a,b| a[1]<=>b[1]}.each do |family_id|%>
								<%if tyre_brand_name.to_s == @select_brand[family_id.first].to_s and @min_price[family_id.first] != 0.0 and @max_price[family_id.first] != 0.0%>			
								<div class="span4">
									<div class="well_family">
									<a href="/family/<%=family_id.first%>?family_id=<%=family_id.first%>&tyre_brand=<%=@select_brand[family_id.first]%>&tyre_family=<%=@select_family[family_id.first]%>">
										<%=@select_family[family_id.first]%>
										<%if @min_price[family_id.first] == @max_price[family_id.first]%>
											<span class="muted_family">
												(<%=@max_price[family_id.first]%>&nbsp;грн.)		
											</span>			
										<%else%>
											<span class="muted_family">
												(<%=@min_price[family_id.first]%>&nbsp;-&nbsp;<%=@max_price[family_id.first]%>&nbsp;грн.)
											</span>
										<%end%>
									</a>
									</div>
								</div>	
								<%end%>  
							<%end%>
						</div>
					<%end%>
				<%end%>
			<%elsif @sort_param == 'low_price'%>
				<div align="center">
					Сортувати:
					<small>Від дешевшого до дорожчого</small>&nbsp;|&nbsp;
					<a href="#" onclick="return setAttr('sort_param','high_price')"><small>Від дорожчого до дешевшого</small></a>&nbsp;|&nbsp;
					<a href="#" onclick="return setAttr('sort_param','brand')"><small>По брендам</small></a>
				</div>
				<br>
				<div class="row" align="center">
				<%@min_price.sort{|a,b| a[1]<=>b[1]}.each do |family_id,family_name|%>
					<%if @min_price[family_id] != 0.0 and @max_price[family_id] != 0.0%>				
					<div class="span4">
						<div class="well_family">
						<a href="/family/<%=family_id%>?family_id=<%=family_id%>&tyre_brand=<%=@select_brand[family_id]%>&tyre_family=<%=@select_family[family_id]%>">
							<%=@select_brand[family_id]%> / <%=@select_family[family_id]%>	
							<%if @min_price[family_id] == @max_price[family_id]%>
								<span class="muted_family">
									(<%=@max_price[family_id]%>&nbsp;грн.)		
								</span>			
							<%else%>
								<span class="muted_family">
									(<%=@min_price[family_id]%>&nbsp;-&nbsp;<%=@max_price[family_id]%>&nbsp;грн.)
								</span>
							<%end%>
						</div>			
						</a>
					</div>
					<%end%>	
				<%end%>
				<br><br>
				</div>
			<%elsif @sort_param == 'high_price'%>
				<div align="center">
					Сортувати:
					<a href="#" onclick="return setAttr('sort_param','low_price')"><small>Від дешевшого до дорожчого</small></a>&nbsp;|&nbsp;
					<small>Від дорожчого до дешевшого</small>&nbsp;|&nbsp;
					<a href="#" onclick="return setAttr('sort_param','brand')"><small>По брендам</small></a>
				</div>
				<br>
				<div class="row" align="center">
				<%@max_price.sort{|a,b| b[1]<=>a[1]}.each do |family_id,family_name|%>	
					<%if @min_price[family_id] != 0.0 and @max_price[family_id] != 0.0%>			
					<div class="span4">
						<div class="well_family">
						<a href="/family/<%=family_id%>?family_id=<%=family_id%>&tyre_brand=<%=@select_brand[family_id]%>&tyre_family=<%=@select_family[family_id]%>">
							<%=@select_brand[family_id]%> / <%=@select_family[family_id]%>
							<%if @min_price[family_id] == @max_price[family_id]%>
								<span class="muted_family">
									(<%=@min_price[family_id]%>&nbsp;грн.)
								</span>						
							<%else%>
								<span class="muted_family">
									(<%=@min_price[family_id]%>&nbsp;-&nbsp;<%=@max_price[family_id]%>&nbsp;грн.)
								</span>
							<%end%>	
						</div>	
						</a>
					</div>
					<%end%>	
				<%end%>
				<br><br>
				</div>	
			<%end%> 
	</div>  
</div>      
